 .about-background{
    background: url("../images/himalayas.jpg") no-repeat fixed center center;
    background-size: cover;
  }
  .contact-background{
    background: url("../images/florida-black.jpg") no-repeat fixed center bottom;
    background-size: cover;
  }
  .portfolio-background{
    background: url("../images/newyork.jpg") no-repeat fixed center bottom;
    background-size: cover;
  }
  .resources-background{
    background: url("../images/office.jpg") no-repeat fixed center bottom;
    background-size: cover;
  }

  .bg-about1{
    background: url("../images/pic1.jpg") no-repeat fixed center center;
    background-size: cover;
  }