// Sets the margin and padding of the document to 0
body{ margin: 0; padding: 0;}
html{ margin: 0; padding: 0;}

@import 'utility-classes';

// Sets the layout for all box-sizing
*{  box-sizing: border-box;  }

// Mobile Layout
.container{
  overflow: hidden;
  .container-top{
    img {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;

      /* Set up proportionate scaling */
      width: 100%;
      height: auto;

      /* Set up positioning */
      position: absolute;
      top: 0;
      left: 0;
    }
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 102vh;
    .container-header{
      position: absolute;
      bottom: 30vh;
      left: 50%;
      width: 300px;
      margin-left: -150px;
      h1{
        position: relative;
        margin: 0 auto;
        background-color: white;
        width: 300px;
        color: black;
        text-align: center;
        border: 3px solid black;
        margin-bottom: 20px;
      }
      h2:before{
        content: '';
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        //padding: 10px;
      }
      h2{
        padding: 5px;
        text-align: center;
        color: white;
        position: relative;
        width: 100%;
        z-index: 1;
        font-weight: 300;
      }
      h4:before{
        content: '';
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
      }
      h4{
        color: white;
        text-align: center;
        margin-left: 70%;
        width: 30%;
        padding: 5px;
        position: relative;
        z-index: 1;
      }
    }
    .scroll-button{
      display: block;
      position: absolute;
      bottom: 10px;
      left: 0; right: 0;
      margin: 0 auto;
      width: 60px; height: 60px;
      text-align: center;
      color: black;
      animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      -moz-animation: bounce 2s infinite;
      -o-animation: bounce 2s infinite;
      .black-scroll{
        color: black;
      }
    }
    @import 'arrow';
  }
  @import 'shadows';
  @import 'animations';
  @import 'section-content';
  @import 'nav-bar';
  @import 'home';
  @import 'background';
  @import 'about';
  @import 'image-gallery';
  @import 'portfolio';
  @import 'resources';
  @import 'contact';
}

@media screen and (min-width: 480px){
  .container{
    .container-top{
      .container-header{
        position: fixed;
        width: 400px;
        margin-left: -200px;
        h1{
          width: 300px;
        }
        h2:before{
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          filter: blur(5px);
        }
        h2{
          line-height: 50px;
          font-size: 32px;
        }
        h4:before{
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          filter: blur(5px);
        }
        h4{

        }
      }
      .container-header-absolute{
        position: absolute;
        bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 680px){
  .container{
    .container-top{
      .container-header{
        position: fixed;
        width: 600px;
        margin-left: -300px;
      }
      .container-header-absolute{
        position: absolute;
        bottom: 20px;
      }
    }
  }
}


@media screen and (min-width:800px){
  .container{
    .container-top{
      .container-header{
        position: fixed;
        width: 800px;
        margin-left: -400px;
      }
      .container-header-absolute{
        position: absolute;
        bottom: 20px;
      }
    }
  }
}

// If the screen is at least 480px wide
//@media screen and (min-device-width: 480px){
  .nav-top,
  .nav-menu,
  .home-container-section,
  .about-container-header,
  .about-container-section,
  .portfolio-container-section,
  .contact-container-section,
  .resources-container-section{
    @include row;
  }

//}
/*
@media screen and (min-width: 480px){
  .container{
    .container-top{
      height: 300px;
      .container-header{
        @include offset(left,1.5);
        width: columns(3);
        margin-top: 100px;
        margin-bottom: 100px;
        top: 0; bottom: 0;
        h1{
          font-size: 44px;
          border: 5px solid black;
        }
      }
    }
  }
}
*/


/*
 .container-top{
   position: relative;
   height: 150px;
   .container-header{
     position: relative;
     width: 150px;
     top: 50px;
     margin: 0 auto;
     margin-bottom: 50px;
     h1{
       background-color: white;
       //font-size: 44px;
       color: black;
       text-align: center;
       border: 3px solid black;
     }
   }
 }
 */