.resources-container{
  height: 100%;
  width: 100%;
  position: relative;
  //background-color: $colorOne;
  //overflow: hidden;
  .resources-container-section {
    //background-color: rgba(255,255,255,.8);
    position: relative;
    padding-top: 20px;
    //@import 'section-content';
    ul{
      position: relative;
      margin: 0;
      list-style: none;
      padding: 0;
      margin-top: 25px;
      .resource-tab{
        text-align: center;
        width: 25%;
        display: inline-block;
        height: 46px;
        .tab-btn{
          padding-bottom: 20px;
          position: relative;
          width: 100%;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          border: 2px solid black;
          background: $colorThree;
          color: white;
          font-size: 32px;
          line-height: 40px;
          font-family: 'Amatic SC', cursive;
          transition: all .5s ease;
          //margin: auto;
        }
        .tab-btn:hover{
          cursor: pointer;
        }
        .tab-btn:focus{
          outline: none;
        }
        .active-tab {
          z-index: 20;
          position: relative;
          width: 125%;
          left: -12.5%;
          background-color: $colorTwo;
          color: black;
          border-bottom: none;
          animation: none;
        }
        .active-tab:hover{
          background-color: $colorTwo;
        }
      }
      .tab-btn:hover{
        background-color: $colorFour;
      }
      .resource-tab:first-child .active-tab{
        left: 0%;
      }
      .resource-tab:last-child .active-tab{
        left: -25%;
      }

    }
    .list-container{
      position: relative;
      margin-bottom: 100px;
      width: 100%;
      height: 440px;
      background-color: $colorTwo;
      border: 2px solid black;
      border-top: none;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.15);
      z-index: 25;
      .list-inner-container{
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid black;
        font-size: 0;
        > div{
          display: inline-block;
          height: 100%;
          vertical-align: top;
          form{
            width: 100%;
            height: 100%;
            .sites{
              height: 100%;
              width: 100%;
              display: none;
              option{
                font-size: 16px;
                line-height: 31px;
              }
              option:checked{
                background: $colorThree repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2PUmtv/HwAEpgJXOwX0WwAAAABJRU5ErkJggg==);
              }
            }
            .active-form{
              display: block;
            }
            .sites:focus{
              outline: none;
              //padding: 3px 0px 3px 3px;
              //margin: 5px 1px 3px 0px;
              //border: 1px solid red;
            }
          }
        }
        .left{
          width: 75%;
        }
        .right{
          width: 25%;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAZklEQVQYV2P8//5sPaOgcSMDCKxsrP/v5sMA5y+vf8YIEgcr2rWFgSG8HqwQzN+xKZ0hslEKrACbzv8efjNBJjGCJLHphJuE4gagnTCdMJMRboDaie4miBuw6IT5hhEkCXItLt8AAGbsVzLdewi6AAAAAElFTkSuQmCC) repeat;
          .btns-container{
            height: 100%;
            width: 100%;
            //padding: 5% 10%;
            //background-color: white;
            .btn{
              width: 100%;
              background: $colorThree;
              color: #fff;
              font-size: 32px;
              //line-height: 26px;
              font-family: 'Amatic SC', cursive;
              height: 50%;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
              border: 3px solid #fff;
              box-shadow: inset 0 0 0 1px white;
              transition: all .5s ease;
            }
            .btn:hover{
              cursor: pointer;
              background-color: $colorFour;
            }
            .btn:focus{
              outline: none;
            }
            .btn:active{
              box-shadow: inset 0 0 0 1px black,inset 0 5px 30px black;
            }
            .btn:last-child{
              border-top: none;
            }
          }
        }
      }
    }
  }
}