.section-content{
  width: 100%;
}

// Section wide
.section-content-wide{
  width: columns(6);
}

// Styling for sections of text
.content-text {
  position: relative;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  h2{  font-weight: 400; text-align: left;  }
  h3{  text-align: center;  }
  p{ strong {  font-size: 44px;  } }
  p:last-child{  margin-bottom: 40px;  }
  .white-text{ color: white;}
  .about-btn-container{
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 30px;
    .aboutBtn{
      //position: relative;
      width: 100%;
      display: block;
      background: none;
      color: #fff;
      font-size: 32px;
      //line-height: 26px;
      font-family: 'Amatic SC', cursive;
      height: 50%;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border: 3px solid #fff;
      border-radius: 2px;
      transition: all .3s ease;
    }
    .aboutBtn:last-child{
      margin-top: 20px;
    }
    .aboutBtn:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,.2);
    }
    #hideBio{
      display: none;
    }
  }

  .full-bio{
    display: none;
  }
  .show-bio{
    display: block;
    padding-bottom: 40px;
  }
}

// Styling for interests section
.content-interests{
  div{
    //display: block;
    display: inline-block;
    vertical-align: middle;
  }
  .interests-pic{
    //display: none;
    margin-left: 5%;
    width: 28%;
    img{
      max-height: 200px;
      max-width: 200px;
    }
  }
  .interests-desc{
    padding-left: 4%;
    padding-right: 4%;
    width: 60%;
    margin-left: 5%;
    p{
      strong {
        font-size: 22px;
      }
      b{
        color: $colorThree;
      }
    }
  }
}

/* Content for a section divded in thirds
.content-divided{
  position: relative;
  width: 100%;
  > div{
    display: block;
    //height: 285px;
    padding: 5px;
  }
  .thumb{
    height: 285px;
  }
}
*/

// Content for a section divded in thirds
.content-divided{
  position: relative;
  //padding-top: 20px;
  width: 100%;
  > div{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 285px;
    padding: 5px;
  }
}

// Section for dividing the content in half
.content-half{
  width: 49.5%;
  display: inline-block;
  vertical-align: middle;
  .content-half-image{
    background: url("../images/florida-palms.jpg") no-repeat center center;
    background-size: cover;
    //background-attachment: fixed;
    border: 3px solid white;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
    height: 180px; width: 100%;
  }
  img{
    display: block;
    padding: 0 10% 0 10%;
  }
  p{
    margin: 0 0 0 25px;
    font-size: 16px;
    line-height: 26px;
  }
  h4{
    text-align: center;
  }
  .white-text{ color: white;}
}

// Styling for the education section
.content-university{
  background-color: #fff;
  padding: 10px 0 5px 0;
  border: 2px solid black;
  .university-left{
    margin: 0 3% 0 11%;
    width: 19%;
    display: inline-block;
  }
  .university-right{
    width: 60%;
    margin-left: 6%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 10px;
    h3{
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      text-align: left;
      font-size: 26px;
    }
    p{
      margin: 0;
      margin-left: 25px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 31px;
      strong{
        font-style: italic;
        font-size: 14px;
      }
    }
  }
}

/*.content-half{
  display: block;
  width: 100%;
  img{
    display: none;
  }
  p:last-child{
    text-align: center;
    font-size: 20px;
    color: $colorThree;
    font-weight: bold;
  }
}
*/

@media screen and (min-width:480px){
  .section-content{
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    @include offset(left,.5);
    width: columns(5);
  }

  .content-text{
      .about-btn-container{
        font-size: 0;
        #hideBio, #showBio{
          margin-right: 10%;
        }
        .aboutBtn{
          display: inline-block;
          width: 45%;

        }
        .aboutBtn:last-child{
          margin-top: 0;
        }
      }
    }

}

@media screen and (min-width:480px) and (max-width: 800px){
  .section-content{
    .content-university{
      background-color: #fff;
      padding: 10px 0 5px 0;
      border: 2px solid black;
      .university-left{
        margin: 0 3% 0 11%;
        width: 19%;
        display: none;
      }
      .university-right{

        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        h3{
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: 26px;
        }
        p{
          margin: 0;
          margin-left: 25px;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          font-size: 20px;
          line-height: 31px;
          strong{
            font-style: italic;
            font-size: 14px;
          }
        }
      }
    }
  }

}



// List styling for the skills section
.skills{
  li{
    margin-left: 15%;
  }
  li:hover{
    background: $colorThree;
    color: white;
    padding-left: 7px;
  }
}
