.border-bottom{
  border-bottom: 5px solid black;
}

.border-bottom-thin{
  color: black;
  border-bottom: 2px dotted black;
}

.text-padding-top{
  padding-top: 10px;
}

.border-middle{
  height: 1px;
  width: 60%;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.work-break{
  //height: 20px;
  width: 20%;
  margin: 0 40% 0 40%;
  border-bottom: 3px dotted $colorThree;
}

.circle-pic{
  border-radius: 15%;
}
.borders-vertical{
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.borders-bottom{
  border-bottom: 2px black solid;
}


@media screen and (min-width: 680px){
  .borders-sides{
    border-left: 2px black solid;
    border-right: 2px black solid;
  }
}

.skewed-right{
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg);
  border: 2px solid black;
}

.skewed-left{
  //width: 90%;
  -webkit-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.pad-top{
  padding-top: 20px;
}

.pad-bottom{
  padding-bottom: 40px;
}

.font-zero{
  font-size: 0;
}

.reset-font{
  font-size: 16px;
  line-height: 26px;
}

.color-text{
  color: $colorThree;
}

.white-text{
  color: white;
}
.z-wayback{
  z-index: -999;
}
.z-back{
  z-index: -1;
}

.z-front{
  z-index: 1;
}

// Would love to achieve this without the use of negative margins
.contact-hack{
  position: relative;
  height: 100vh;
  margin-top: -300px;
  z-index: -1;
}

.title-padding{
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.hvr-glow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.05); }
  100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}