.border-bottom{
  border-bottom: 5px solid black;
}

.black-background{
  background: black;
}

.border-bottom-thin{
  color: black;
  border-bottom: 2px dotted black;
}

.text-padding-top{
  padding-top: 10px;
}

.border-middle{
  height: 1px;
  width: 60%;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
.background-wrapper{
  height: 100%;
  width: 100%;
}
.bg-one{
  background-color: $colorTwo;
}
.bg-two{
  //background-color: white;
  background-color: rgba(255,255,255,.8);
  //background-color: $colorThree;
}
.bg-three{
  background-color: $colorThree;
}
.bg-four {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2N8fTjTmAEHYARJitpOP4tNftBJAgDvsxpSdI0OzQAAAABJRU5ErkJggg==") repeat;
}

.bg-five{
  background: url("../images/lil_fiber.png") repeat;
}

.bg-white-opac{
  background-color: rgba(255,255,255,0.8);
}

.bg-gradient{
  background: linear-gradient(181deg, $colorTwo, white, $colorTwo);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
  }
}

.work-break{
  //height: 20px;
  width: 20%;
  margin: 0 40% 0 40%;
  border-bottom: 3px dotted $colorThree;
}

.circle-pic{
  border-radius: 15%;
}
.borders-vertical{
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.borders-bottom{
  border-bottom: 2px black solid;
}

.borders-sides{
  border-left: 2px black solid;
  border-right: 2px black solid;
}

.skewed-right{
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg);
  border: 2px solid black;
}

.skewed-left{
  //width: 90%;
  -webkit-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.pad-top{
  padding-top: 20px;
}

.pad-bottom{
  padding-bottom: 40px;
}

.font-zero{
  font-size: 0;
}

.reset-font{
  font-size: 16px;
  line-height: 26px;
}

.color-text{
  color: $colorThree;
}

.white-text{
  color: white;
}
.z-wayback{
  z-index: -999;
}
.z-back{
  z-index: -1;
}

.z-front{
  z-index: 1;
}

// Would love to achieve this without the use of negative margins
.contact-hack{
  position: relative;
  height: 100vh;
  margin-top: -300px;
  z-index: -1;
}

.title-padding{
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.hvr-glow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}